<!-- ========== 部分テンプレート：lol機能 ========== -->

<%= link_to post_lol_path(post.id), method: :post, remote: true do %>
  <p>
    <%= post.lols.count %>
    あちゃ～
    <i class="fas fa-grin-tears"></i>
  </p>
<% end %>
