<!-- ========== 部分テンプレート：each文内の共通コード ========== -->
<div class = "flex-index">
  <div class="flex-left">
    <!-- ---------- lolボタン ---------- -->
    <div class = "lol_<%= post.id %> btn-lol">
      <%= render partial: "lols/lol", locals: { post: post} %>
    </div>

    <!-- ---------- 削除ボタン ---------- -->
    <!--条件：管理者ログイン中 or 投稿者(IPアドレスで判断)-->
    <% if logged_in? || post.ip = request.ip %>
      <div class="btn-delete">
        <%= link_to post_path(post.id), method: :delete, data: {confirm: "本当に削除しますか"} do %>
          <p>削除</p>
        <% end %>
      </div>
    <% end %>
  </div>

  <!-- ---------- 投稿文 ---------- -->
  <div class = "flex-right">
    <%= post.body %>
  </div>
</div>

